html{
    font-size: 90.5%; 
    box-sizing: border-box;
}

body{
    font: 1.6re, Helvetica;
    height: 100vh;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 5rem;
    height: 100%;
}

.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.brand a{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;    /* remove the underline of Link or a element */
}
.header-links a{
    color: #ffffff;
    text-decoration: none;    /* remove the underline of Link or a element */
}
.header-links a:hover{
    color: #ff8000;      /* the link will be change to orange, when user mouse select cart*/
}

.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-name a{
    text-decoration: none;
}

a:hover{
    color: #ff8000;
}
li{
    border-bottom: 0;
}

/* Home screen */
.products {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}

.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 10rem;
    margin: 1rem;
    height: 100%;
    border-bottom: .1rem #c0c0c0 solid;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 29rem;
}
.product-name{
    font-size: 1.5rem;
    font-weight: bold;
}
.product-brand{
    font-size: 1rem;
    color: #808080;
}
.product-price{
    font-size: 2rem;
    font-weight: bold;
}
.product-image{
    max-width: 20rem;
    max-height: 20rem;
}

/* Sidebar */
.brand button{
    font-size: 2rem;
    padding: .5rem;
    background: none;
    border: none;
    color: #ffffff;
}
.sidebar{
    position: fixed;
    transition: all .5s;
    transform: translateX(-30rem);
    width: 20rem;
    background-color: #f0f0f0;
    height: 100%;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar-close-btn{
    border-radius: 50%;
    border: .1rem #000000 solid;
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    font-size: 1.5rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: .1rem;
}
.sidebar li{
    list-style-type: none;
    border-bottom: 0;
    text-align: left;
    padding: 1%;
}

.sidebar a{
    text-decoration: none;
}
.sidebar li:hover{
    background: #b6b6b6;
}
.sidebar ul{
    padding-left: 0%;
}

/* Product Details */
.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}
.details-image{
    flex: 2 1 60rem;
}
.details-image img{
    max-width: 60rem;
    widows: 100%;
}
.details-info{
    flex: 1 1 25rem;
}
.details-action{
    flex: 1 1 25rem;
}
.details-info ul, .details-action ul{
    list-style-type: none;
    padding: 0;
}
.details-info li, .details-action li{
    margin-bottom: 1rem;
    text-align: left;
}
.return-btn a{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.details-action{
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}
.details-action ul li:last-child{
    display: flex;
    flex-direction: column;
}
.button{
    padding: 1rem;
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
}
.button:hover{
    border: .1rem #404040 solid;
}
.button.btn-bg{
    background-color: #f0c040;
}

