.title {
    font-size: 25px;
    font-weight: bold;
}
.navbar-nav {
    flex-direction: row;
}
 
.A{
    height: 40px; 
    display:table-cell;
    text-align:center;
}

.a {

    display:inline-block;
}

li
{
    text-align: center;
    border-bottom: 1px solid #555;
}
.navbar-item
{
    text-align: center;
    width:100px;
}
.login-bar a{
    text-decoration: none;
}
.navi-a{
    padding-left: 25%;
}
